<div id="infomodal">
    <div class="modal-header">
        <h3>Create discussion for document '{{ document.title }}'</h3>
    </div>
    <div class="modal-body">
        <label for="discussionTitle">Discussion title: </label>
        <input id="discussionTitle" ng-model="$parent.title" class="form-control" type="text" placeholder="Discussion title">
        <p ng-if="!!selection">
            {{ selection.currentSelection.htmlContent }}
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" ng-click="cancel()">Close</button>
        <button class="btn btn-success pull-right" ng-click="createDiscussion()"><span class="glyphicon glyphicon-plus-sign"></span> Create</button>
    </div>
</div>