*.sw*
*~
build/
bin/
karma/karma-unit.tpl.js
node_modules/
.idea/*
.c9revisions/*
vendor/*
!vendor/angular-treeview-custom/*
!vendor/animate.css-custom/*
!vendor/bootstrap-wysiwyg-custom/*
!vendor/es-lab/*
!vendor/jqueryuicustom/*
!vendor/layers-bootstrap-components/*
!vendor/toggle-switch-custom/*
!vendor/custom-jquery-file-upload/*