<div id="document-discussions" class="panel panel-default doc-discussion-panel">
    <div class="panel-heading panel-heading-sm discussion-panel-heading">
        <img class="discussion-icon pull-left" src="assets/img/iconmonstr-speech-bubble-15-icon-256.png" width="25px" height="25px">
        <h4 class="pull-left">Discussions</h4>
        <div class="btn-group pull-right">
            <button class="btn btn-default" ng-click="openCreateDiscussionModal()"><span class="glyphicon glyphicon-plus-sign"></span> Create Discussion</button>
            <button class="btn btn-default demo-hidden" disabled><span class="glyphicon glyphicon-filter"></span> Filter</button>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="panel-body">
        <div accordion="" close-others="'true'">
            <div accordion-group="" is-open="discussion.isOpen" ng-repeat="discussion in discussions.discussions">
                <div accordion-heading="">
                    <div class="discussion-title">
                        {{ discussion.title }}
                    </div>
                    <span class="badge pull-right"><span class="glyphicon glyphicon-user"></span> {{ discussion.content.authors.length }}</span>
                    <div id="documentDiscussionMaturityIndicator" class="pull-right demo-hidden">
                        <div class="maturity-low"></div>
                        <div class="maturity-mid"></div>
                        <div class="maturity-high"></div>
                        <div class="maturity-norm"></div>
                    </div>
                </div>
                <div class="col-lg-6" ng-bind-html="discussion.content.content">
                </div>
                <div class="col-lg-6">
                    <a href="#/document/{{discussion.id}}" class="btn btn-info">
                        <img class="discussion-icon" src="assets/img/iconmonstr-speech-bubble-15-icon.svg">
                        Open Discussion
                    </a>
                    <div ng-if="discussion.isOpen">
                        <a href="" class="thumbnail thumbnail-picture" ng-click="openUserInfoModal(author.id)" ng-repeat="author in discussion.content.authors">
                            <img ng-init="loadUserImgSrc(author.id, author)" ng-src="{{ author.img }}" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>