#document-discussions {
    border-radius: 0;
    .thumbnail-picture {
        width: 48px;
        height: 48px;
        img.img-responsive {
          max-height: 100%!important;
          display: block!important;
          max-width: 100%!important;
          height: auto!important;
        }
    }
    .discussion-panel-heading {
        padding-bottom: 5px;
        h4 {
            display: inline-block;
        }
        img.discussion-icon {
            width: 25px;
            height: 25px;
            border-radius: 4px;
        }
    }
    .panel-body {
        padding: 0;
    }
    accordion {
        .panel-body {
          max-height: 230px;
          overflow: hidden;
        }
        .panel-group {
            margin-bottom: 0;
        }
        .panel {
            border-color: #bce8f1;
            margin-top: 0;
            border-radius: 0;
        }
        .panel-heading {
            background-image: -webkit-linear-gradient(top,#d9edf7 0,#c4e3f3 100%);
            background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
            
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
            border-radius: 0;
            
            padding-left: 2px;
            padding-right: 2px;
        }
        .accordion-toggle {
            cursor: pointer;
            cursor: hand;
            img {
                border-radius: 10px;
            }
        }
        .col-lg-6 {
            padding: 2px;
            .btn-info {
                display: block;
                width: 100%;
                margin-bottom: 2px;
                img.discussion-icon {
                    width: 25px;
                    height: 25px;
                    margin-right: 5px;
                    -webkit-filter: invert(100%);
                }
            }
            a.thumbnail {
                display: inline-block;
                margin-right: -2px;
                margin-bottom: -4px;
            }
        }
    }

    #documentDiscussionMaturityIndicator {
      width: 80px;
      height: 22px;
      border-radius: 10px;
      overflow: hidden;
      margin-left: 3px;
      opacity: 0.8;
      .maturity-low {
        background-color: #fbe69c;
        width: 20px;
        height: 22px;
        float: left;
      }
      .maturity-mid {
        background-color: #fccb67;
        width: 20px;
        height: 22px;
        float: left;
      }
      .maturity-high {
        background-color: #ea661d;
        width: 20px;
        height: 22px;
        float: left;
      }
      .maturity-norm {
        background-color: #e5421f;
        width: 20px;
        height: 22px;
        float: left;
      }
    }
}