<div id="document-discussions" class="panel panel-default doc-discussion-panel">
    <div class="panel-heading panel-heading-sm discussion-panel-heading">
        <img class="discussion-icon" src="assets/img/iconmonstr-speech-bubble-15-icon.svg">
        <h4>Discussions</h4>
        <div class="btn-group pull-right">
            <button class="btn btn-default" ng-click="openCreateDiscussionModal()"><span class="glyphicon glyphicon-plus-sign"></span> Create Discussion</button>
            <button class="btn btn-default"><span class="glyphicon glyphicon-filter"></span> Filter</button>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="panel-body">
        <accordion close-others="'true'">
            <accordion-group is-open="discussion.isOpen" ng-repeat="discussion in discussions.discussions">
                <accordion-heading>
                    {{ discussion.title }}
                    <span class="badge pull-right"><span class="glyphicon glyphicon-user"></span> {{ discussion.content.authors.length }}</span>
                    <img src="http://placehold.it/80x22" class="pull-right">
                </accordion-heading>
                <div class="col-lg-6" ng-bind-html="discussion.content.content">
                </div>
                <div class="col-lg-6">
                    <a href="#/document/{{discussion.id}}" class="btn btn-info">
                        <img class="discussion-icon" src="assets/img/iconmonstr-speech-bubble-15-icon.svg">
                        Open Discussion
                    </a>
                    <div ng-if="discussion.isOpen">
                        <a href="" class="thumbnail thumbnail-picture" ng-click="openUserInfoModal(author.id)" ng-repeat="author in discussion.content.authors">
                            <img ng-init="loadUserImgSrc(author.id, author)" ng-src="{{ author.img }}" class="img-responsive">
                        </a>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>