#document {
  .test {
    height: 400px;
    background: green;
    span.white-color-fat {
      font-size: 18px;
      font-weight: bold;
      color: #FFFFFF;
    }
    .white-fat-color {
      color: #add8e6;
    }
  }
}