<div class="panel panel-info comment-panel">
    <div class="panel-heading panel-heading-sm">
        <img class="img-circle" src="http://placehold.it/40x40" alt="Profile picture placeholder" >
        <div class="accordion-toggle-wrap" ng-click="isCollapsed = !isCollapsed">
            <a class="accordion-toggle">
                <span class="panel-title">
                   {{ comment.title }}
                </span>
                <br>
                <span class="author">from: {{ comment.creator.displayname }}</span>
                <div style="clear:both;"></div>
            </a>
        </div>
        <div class="btn-group pull-right">
            <button class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span><span class="badge">3</span></button>
            <!-- <button class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span><span class="badge">3</span></button> -->
            <button class="btn btn-info" ng-show="security.currentUser.id == comment.creator.id" ng-click="openCreateCommentModal('Edit', comment)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
            <button class="btn btn-info" ng-hide="security.currentUser.id == comment.creator.id" ng-click="openCreateCommentModal('Reply', comment)"><span class="glyphicon glyphicon-plus-sign"></span> Reply</button>
        </div>
    </div>
    <div class="panel-body panel-body-sm" collapse="isCollapsed">
        {{ comment.text }}
        <button ng-show="comment.commentList.length > 0" class="btn btn-default btn-comments-expand" ng-init="isCommentsCollapsed = true" ng-click="isCommentsCollapsed = !isCommentsCollapsed">
            <span ng-show="isCommentsCollapsed">Show</span><span ng-hide="isCommentsCollapsed">Hide</span> 
             Replies <span class="badge">{{ comment.commentList.length }}</span>
        </button>
        <div class="subcomment-area" ng-if="comment.commentList.length > 0" collapse="isCommentsCollapsed">
            <div ng-init="isCollapsed = false"  class="comment-margin">
                <div ng-repeat="comment in comment.commentList" ng-include="" src="'document/comments/documentCommentsCommentsInclude.tpl.html'"></div>
            </div>
        </div>
    </div>
</div>