<div id="attachmentUploadModal">
    <div class="modal-header">
        <h3>Upload attachment</h3>
    </div>
    <div class="modal-body">
        <div tabset="">
            <div tab="">
                <div tab-heading="">
                    <i class="glyphicon glyphicon-file"></i>/<i class="glyphicon glyphicon-picture"></i> Files + Media
                </div>
                <div ng-controller="FileAndMediaUploadCtrl" class="padding-top">
                    <input type="text" ng-model="myModelObj">
                    <!-- <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
                    <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
                          ng-show="dropSupported">drop files here</div>
                    <div ng-file-drop-available="dropSupported=true"
                         ng-show="!dropSupported"></div>
                    <label for="manualFileAttachmentUpload" ng-if="dropSupported">Or choose file via:</label>
                    <input id="manualFileAttachmentUpload" type="file" ng-file-select="onFileSelect($files)">
                    <br />
                    <button ng-click="upload.abort()">Cancel Upload</button>
                </div>
            </div>
            <div tab="">
                <div tab-heading="">
                    <i class="glyphicon glyphicon-link"></i> Links
                </div>
                <div ng-controller="AddDocumentContentLinkCtrl" class="padding-top">
                    <label for="newHyperlink">Link:</label>
                    <input class="form-control" id="newHyperlink" type="text" ng-model="hyperlink" placeholder="Link (e.g.: http://www.example.com/)">
                    <label for="newHyperlinkDescription">Description:</label>
                    <textarea class="form-control" id="newHyperlinkDescription" ng-model="description" placeholder="Description">
                    </textarea>
                    <button class="btn btn-success pull-right margin-top" ng-click="createHyperlink()"><span class="glyphicon glyphicon-plus-sign"></span> Attach a new link</button>
                    <div style="clear:both"></div>
                </div>
            </div>
            <div tab="">
                <div tab-heading="">
                    <i class="glyphicon glyphicon-file"></i> Related docs
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning pull-left" ng-click="cancel()">Close</button>
    </div>
</div>