#navigation {
  #searchbar input.form-control.search-mode {
    width: 550px;
  }
  .login-form input.form-control {
    width: 150px;
  }
  .login-form {
    input.form-control {
      width: 230px!important;
    }
  }
}

#search-overlay {
  padding: 0;
}