#navigation {
  background-image: -webkit-linear-gradient(top, #ffffff 0, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0, #f8f8f8 100%);
  background-color: #f8f8f8;
  a.navbar-brand.dropdown-toggle {
    padding-left: 30px;
  }
  ul.dropdown-menu {
    color: #777777;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    background-color: #e8e8e8;
  }
  .user-menu-active {
    display: block;
    margin-top: 240px;
  }
  #searchbar input.form-control.search-mode {
    width: 200px;
  }
  #username {
    display: block;
    width: 100%;
  }
  #password {
    margin-top: 3px;
    display: block;
    width: 100%;
  }
  ul.nav.navbar-nav.login-mode {
    margin-top: -59px;
  }
  .form-group.login-mode {
    margin-top: 80px;
  }
  div.navbar-collapse.collapse.in.login-mode {
    height: 230px!important;
  }
  button.btn.btn-default.login-btn.login-mode {
    margin-top: 5px;
    width: 100%;
  }
}

#search-overlay {
  top: 140px;
  padding: 0;
  right: 0;
  left: 0;
}