#navigation {
  #searchbar input.form-control.search-mode {
    width: 350px;
  }

  #username, #password {
    width: 175px;
  }
  .login-form {
    input.form-control {
      width: 130px!important;
    }
  }
}