<div class="panel panel-default">
    <div class="panel-heading panel-heading-sm">
        <h4>Manage Documents</h4>
    </div>
    <div class="panel-body panel-body-sm">
        <div class="col-lg-4 treeview-area">
            <h4>Choose the folder or file for which you want to change the access rights.</h4>
            <div class="well"
              data-angular-treeview="true"
              data-tree-id="organiseDocumentsTree"
              data-tree-model="folderAndFileStructure"
              data-node-id="generatedId"
              data-node-label="name"
              data-node-children="children" >
            </div>
        </div>
        <div class="col-lg-4">
            <div ng-if="!!organiseDocumentsTree && !!organiseDocumentsTree.currentNode">
                <div>Selected
                    <span ng-show="!!organiseDocumentsTree && !!organiseDocumentsTree.currentNode && !!organiseDocumentsTree.currentNode.foldericon && organiseDocumentsTree.currentNode.foldericon === true"> File</span>
                    <span ng-show="!!organiseDocumentsTree && !!organiseDocumentsTree.currentNode && (!organiseDocumentsTree.currentNode.foldericon || organiseDocumentsTree.currentNode.foldericon === false)"> Folder</span>
                    :
                    <span ng-show="!!organiseDocumentsTree && !!organiseDocumentsTree.currentNode">{{ organiseDocumentsTree.currentNode.name }}</span>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-disabled="isRootFolder" ng-click="action = 'Rename'">Rename</button>
                    <button class="btn btn-default" ng-click="action = 'Create'">Create</button>
                    <button class="btn btn-default" ng-disabled="isRootFolder" ng-click="action = 'Move'">Move</button>
                    <button class="btn btn-danger" ng-disabled="isRootFolder" ng-click="action = 'Delete'">Delete</button>
                </div>
                <div ng-init="action = ''" ng-switch on="action">
                    <div ng-switch-when="Rename">
                        <input class="form-control" ng-init="editValue = ''" type="text" ng-model="editValue" placeholder="Rename to ...">
                        <button class="btn btn-success" ng-click="submitRename(editValue)">Submit</button>
                    </div>
                    <div ng-switch-when="Create">
                        <input class="form-control" ng-init="createValue = ''" type="text" ng-model="createValue" placeholder="New folder name">
                        <button class="btn btn-success" ng-click="submitCreate(createValue)">Submit</button>
                    </div>
                    <div ng-switch-when="Move">Move</div>
                    <div ng-switch-when="Delete">Delete</div>
                </div>
            </div>
        </div>
    </div>
</div>