<div id="registrationForm">
    <h2>Registration Step 1/1</h2>
    <form name="registrationForm" novalidate>
        <div class="form-group">
            <label for="domain">Registration for domain or organisation:</label>
            <select id="domain" name="domain" ng-init="domain = 'None'" class="form-control" ng-model="domain">
                <option>None</option>
            </select>
            <div ng-show="domain == 'None'" class="alert alert-warning">
                Registration may take a bit longer if no domain or organisation is selected (The registration queue could be longer).
            </div>
        </div>
        <div class="form-group has-feedback" 
            ng-class="{'has-success': registrationForm.loginname.$dirty && registrationForm.loginname.$valid, 
            'has-error': registrationForm.loginname.$dirty && !registrationForm.loginname.$valid}">
            <input type="text" name="loginname" ng-model="loginname" placeholder="Loginname (Not visible for other users; Needed for logging in)" 
                class="form-control" ng-class="" ng-required="true" ng-minlength="6" ng-pattern="/^[a-zA-z0-9]+$/" ng-maxlength="40">
            <span ng-if="registrationForm.loginname.$dirty && registrationForm.loginname.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-if="registrationForm.loginname.$dirty && !registrationForm.loginname.$valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="alert alert-danger" ng-show="registrationForm.loginname.$dirty && !registrationForm.loginname.$valid">
                The username that you have entered is either:
                <ul>
                    <li>Too short (6 characters needed).</li>
                    <li>Too long (Limit is 40 characters).</li>
                    <li>Contains a character that is not allowed. Allowed characters are characters from A-Z + 0-9.</li>
                </ul>
            </div>
        </div>
        <div class="form-group has-feedback" 
            ng-class="{'has-success': registrationForm.displayname.$dirty && registrationForm.displayname.$valid, 
            'has-error': registrationForm.displayname.$dirty && !registrationForm.displayname.$valid}">
            <input type="text" name="displayname" ng-model="displayname" placeholder="Displayname (Visible to other users)" 
                class="form-control" ng-required="true" ng-minlength="3" ng-pattern="/^[a-zA-Z]{1}[a-zA-Z0-9\x20]+$/" ng-maxlength="40">
            <span ng-if="registrationForm.displayname.$dirty && registrationForm.displayname.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-if="registrationForm.displayname.$dirty && !registrationForm.displayname.$valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="alert alert-danger" ng-show="registrationForm.displayname.$dirty && !registrationForm.displayname.$valid">
                The displayname that you have entered is either:
                <ul>
                    <li>Too short (3 characters needed).</li>
                    <li>Too long (Limit is 40 characters).</li>
                    <li>Contains a character that is not allowed. Allowed characters are characters from A-Z + 0-9.</li>
                    <li>Starts with 0-9. Should start with alphabetic character.</li>
                </ul>
            </div>
        </div>
        <div class="form-group has-feedback" 
            ng-class="{'has-success': registrationForm.firstname.$dirty && registrationForm.firstname.$valid, 
            'has-error': registrationForm.firstname.$dirty && !registrationForm.firstname.$valid}">
            <input type="text" name="firstname" ng-model="firstname" placeholder="Firstname" class="form-control" ng-required="true" ng-minlength="2" ng-pattern="/^[a-zA-Z\x20]+$/" ng-maxlength="60">
            <span ng-if="registrationForm.firstname.$dirty && registrationForm.firstname.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-if="registrationForm.firstname.$dirty && !registrationForm.firstname.$valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="alert alert-danger" ng-show="registrationForm.firstname.$dirty && !registrationForm.firstname.$valid">
                The firstname that you have entered is either:
                <ul>
                    <li>Too short (2 characters needed).</li>
                    <li>Too long (Limit is 60 characters).</li>
                    <li>Contains a character that is not allowed. Allowed characters are characters from A-Z.</li>
                </ul>
            </div>
        </div>
        <div class="form-group has-feedback" 
            ng-class="{'has-success': registrationForm.lastname.$dirty && registrationForm.lastname.$valid, 
            'has-error': registrationForm.lastname.$dirty && !registrationForm.lastname.$valid}">
            <input type="text" name="lastname" ng-model="lastname" placeholder="Lastname" class="form-control" ng-required="true" ng-minlength="2" ng-pattern="/^[a-zA-Z\x20]+$/" ng-maxlength="60">
            <span ng-if="registrationForm.lastname.$dirty && registrationForm.lastname.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-if="registrationForm.lastname.$dirty && !registrationForm.lastname.$valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="alert alert-danger" ng-show="registrationForm.lastname.$dirty && !registrationForm.lastname.$valid">
                The lastname that you have entered is either:
                <ul>
                    <li>Too short (2 characters needed).</li>
                    <li>Too long (Limit is 60 characters).</li>
                    <li>Contains a character that is not allowed. Allowed characters are characters from A-Z.</li>
                </ul>
            </div>
        </div>
        <div class="form-group has-feedback" 
            ng-class="{'has-success': registrationForm.email.$dirty && registrationForm.email.$valid, 
            'has-error': registrationForm.email.$dirty && !registrationForm.email.$valid}">
            <input type="email" ng-init="email = ''" name="email" ng-model="email" placeholder="Email (Not visible for other users)" class="form-control" ng-required="true" ng-minlength="4" ng-maxlength="240">
            <span ng-if="registrationForm.email.$dirty && registrationForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-if="registrationForm.email.$dirty && !registrationForm.email.$valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="alert alert-danger" ng-show="registrationForm.email.$dirty && !registrationForm.email.$valid">
                The email adress that you have entered is either:
                <ul>
                    <li>Too short (4 characters needed).</li>
                    <li>Too long (Limit is 240 characters).</li>
                    <li>Is not of valid format.</li>
                </ul>
            </div>
        </div>
        <div class="form-group has-feedback" 
            ng-class="{'has-success': registrationForm.emailconfirmation.$dirty && registrationForm.emailconfirmation.$valid, 
            'has-error': registrationForm.emailconfirmation.$dirty && !registrationForm.emailconfirmation.$valid}">
            <input type="email" name="emailconfirmation" ng-disabled="email == ''" ng-model="emailconfirmation" placeholder="Confirm Email" class="form-control" ng-required="true" ng-minlength="4">
            <span ng-if="registrationForm.emailconfirmation.$dirty && registrationForm.emailconfirmation.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-if="registrationForm.emailconfirmation.$dirty && !registrationForm.emailconfirmation.$valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="alert alert-danger" ng-show="registrationForm.emailconfirmation.$dirty && !registrationForm.emailconfirmation.$valid">
                The email adress that you have entered is either:
                <ul>
                    <li>Too short (4 characters needed).</li>
                    <li>Too long (Limit is 240 characters).</li>
                    <li>Is not of valid format.</li>
                </ul>
            </div>
        </div>
        <div class="form-group has-feedback" 
            ng-class="{'has-success': registrationForm.password.$dirty && registrationForm.password.$valid, 
            'has-error': registrationForm.password.$dirty && !registrationForm.password.$valid}">
            <input type="password" name="password" ng-model="password" placeholder="Password" class="form-control" ng-required="true" ng-minlength="6">
            <span ng-if="registrationForm.password.$dirty && registrationForm.password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-if="registrationForm.password.$dirty && !registrationForm.password.$valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="alert alert-danger" ng-show="registrationForm.password.$dirty && !registrationForm.password.$valid">
                The password that you have entered is either:
                <ul>
                    <li>Too short (6 characters needed).</li>
                </ul>
            </div>
        </div>
        <div class="form-group has-feedback" 
            ng-class="{'has-success': registrationForm.confirmpassword.$dirty && registrationForm.confirmpassword.$valid, 
            'has-error': registrationForm.confirmpassword.$dirty && !registrationForm.confirmpassword.$valid}">
            <input type="password" name="confirmpassword" ng-disabled="password == ''" ng-model="confirmpassword" placeholder="Confirm Password" class="form-control" ng-required="true" ng-minlength="6">
            <span ng-if="registrationForm.confirmpassword.$dirty && registrationForm.confirmpassword.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-if="registrationForm.confirmpassword.$dirty && !registrationForm.confirmpassword.$valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <div class="alert alert-danger" ng-show="registrationForm.confirmpassword.$dirty && !registrationForm.confirmpassword.$valid">
                The password confirmation that you have entered is either:
                <ul>
                    <li>Too short (6 characters needed).</li>
                </ul>
            </div>
        </div>
        <textarea name="registrationdescription" ng-model="registrationDescription" placeholder="Optional: Registration description (If needed for registration)" class="form-control" rows="5"></textarea>
        <a href="#/login" class="btn btn-default">Back to login</a>
        <button class="btn btn-success pull-right" ng-disabled="isRegistrationInProgress || !registrationForm.$valid" ng-click="submitRegistration()">Submit registration</button>
        <div style="clear: both"></div>
    </form>
</div>